resource "aws_iam_instance_profile" "worker" {
  name = "${var.worker_instance_profile_name}"

  role = aws_iam_role.worker_role.name
}

resource "aws_iam_role" "worker_role" {
  name = "${var.worker_instance_profile_name}"
  path = "/"
  permissions_boundary = "{{ iam_permission_profile_arn }}"
  assume_role_policy = <<EOF
{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": "sts:AssumeRole",
            "Principal": {
                "Service": "ec2.amazonaws.com"
            },
            "Effect": "Allow",
            "Sid": ""
        }
    ]
}
EOF

  tags =  merge(
  var.default_tags,
  tomap({ "Name" = "${var.worker_instance_profile_name}" })
  ## Using tomap for tf version newer than v012. If using v012 comment tomap line out and 
  ## uncomment the map lines below
  #map(
  #  "Name",  "${var.cluster_name}-worker-role"
  #  )
  )
}

resource "aws_iam_role_policy" "worker_policy" {
name = "${var.worker_instance_role_policy_name}"
role = aws_iam_role.worker_role.id

policy = <<EOF
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": "ec2:Describe*",
      "Resource": "*"
    }
  ]
}
EOF

}
