apiVersion: v1
stringData:
  credentials: |-
    [default]
    sts_regional_endpoints = regional
    role_arn = 
    web_identity_token_file = /var/run/secrets/openshift/serviceaccount/token
kind: Secret
metadata:
  name: cloud-credential-operator-iam-ro-creds
  namespace: openshift-cloud-credential-operator
type: Opaque
POPULATE ROLE ARN AND DELETE THIS LINE