#!/usr/local/bin/ansible-playbook --inventory=inventory
- hosts: local,localhost
  become: true
  vars_files:
  - vars/environment.yml
  - vars/vault.yml
  vars:
    module: "extract installer and tools to use in disconnected environment"
    ansible_name_module: " Pre Cluster Installation | {{ module }}"
  tasks:
    ##############################################################################
    ####### Extract OpenShift Clients for disconnected install
    - name: '{{ ansible_name_module }} | init | shell:openshift-install | generate coreos image info'
      block:
        - name: '{{ ansible_name_module }} | init | shell:oc:adm | Retrieve ocp tools from ocp payload'
          ansible.builtin.shell: >
            {{ openshift_client_binary }} adm release extract --tools {{ use_insecure_registry }} {{ icsp_file_opt }} \
            -a {{ registry_pull_secret_file }} --from={{ registry_url }}/{{ local_repository }}/{{ release_image_repository }}:{{ release_image_tag }} \
            --to=/home/cadjai/ocp-tools
          vars:
            registry_url: "{{ (registry_host_fqdn + ':' + registry_host_port) if registry_host_port is defined and registry_host_port !='' else registry_host_fqdn }}"
            use_insecure_registry: "{{ '--insecure=true' if is_insecure_registry is defined and is_insecure_registry | bool else '' }}"
            icsp_file_opt: "{{ ('--icsp-file=' + icsp_file) if icsp_file is defined and icsp_file != '' else '' }}"
          register: ocp_tools_extracted

        - name: '{{ ansible_name_module }} | init | shell: | Install openshift-install retrieved from ocp payload'
          ansible.builtin.shell: >
            tar xzvf {{ platform_staging_dir }}/ocp-tools/openshift-install-linux* -C {{ openshift_install_binary_location | default('/usr/local/bin', true) }}
          when:
            - overwrite_openshift_install is defined
            - overwrite_openshift_install | bool
          register: ocp_tools_openshift_install_extracted

        - name: '{{ ansible_name_module }} | init | shell: | Install openshift-client retrieved from ocp payload'
          ansible.builtin.shell: >
            tar xzvf {{ platform_staging_dir }}/ocp-tools/openshift-client-linux* -C {{ openshift_client_binary_location | default('/usr/local/bin', true) }}
          when:
            - overwrite_openshift_client is defined
            - overwrite_openshift_client | bool
          register: ocp_tools_openshift_client_extracted
