apiVersion: machine.openshift.io/v1
kind: ControlPlaneMachineSet
metadata:
  labels:
    machine.openshift.io/cluster-api-cluster: {{ cluster_name }}
  name: cluster
  namespace: openshift-machine-api
spec:
  machineNamePrefix: {{ cluster_name }}-master
  replicas: 3
  selector:
    matchLabels:
      machine.openshift.io/cluster-api-cluster: {{ cluster_name }}
      machine.openshift.io/cluster-api-machine-role: master
      machine.openshift.io/cluster-api-machine-type: master
  state: Active
  strategy: {} 
  template:
    machineType: machines_v1beta1_machine_openshift_io
    machines_v1beta1_machine_openshift_io:
      failureDomains:
        aws:
{% for az in aws_zones %}
        - placement:
            availabilityZone: {{ aws_region }}{{ az }}
          subnet:
            id: {{ aws_private_vpc_subnet_id_list[loop.index0] }}
            type: ID
{% endfor %}
        platform: AWS
      metadata:
        labels:
          machine.openshift.io/cluster-api-cluster: {{ cluster_name }}
          machine.openshift.io/cluster-api-machine-role: master
          machine.openshift.io/cluster-api-machine-type: master
      spec:
        lifecycleHooks: {}
        metadata: {}
        providerSpec:
          value:
            ami:
              id: {{ aws_rhcos_ami | default('ami-0d5f9982f029fbc14', true) }} 
            apiVersion: machine.openshift.io/v1beta1
            blockDevices:
            - ebs:
                encrypted: true
                kmsKey:
                  arn: ""
                volumeSize: {{ master_node_vol_size | default('256', true) }}
                volumeType: {{ master_node_vol_type | default('gp3', true) }}
            credentialsSecret:
              name: aws-cloud-credentials
            deviceIndex: 0
            iamInstanceProfile:
              id: {{ master_iam_profile_name }}
            instanceType: {{ master_node_instance_type | default('r6i.4xlarge', true) }}
            kind: AWSMachineProviderConfig
            metadata:
            metadataServiceOptions: {}
            placement:
              region: {{ aws_region }}
            securityGroups:
            - filters:
              - name: tag:Name
                values:
                - {{ master_sg_name }}
            subnet: {}
            tags:
            - name: kubernetes.io/cluster/{{ cluster_name }}
              value: owned
            userDataSecret:
              name: master-user-data
            loadBalancers:
              - name: {{ api_lb_name }}
                type: network
