{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Principal": "*",
            "Action": [
                "execute-api:Invoke"
            ],
            "Effect": "Allow",
            "Resource": [
                "arn:{{ aws_partition }}:execute-api:{{ aws_region }}:{{ aws_account_id }}:{{ aws_sts_apigateway_id }}/*/*/*"
            ]
        },
        {
            "Effect": "Deny",
            "Principal": "*",
            "Action": [
                "execute-api:Invoke"
            ],
            "Resource": [
                "arn:{{ aws_partition }}:execute-api:{{ aws_region }}:{{ aws_account_id }}:{{ aws_sts_apigateway_id }}/*/*/*"
            ],
            "Condition": {
                "StringNotEquals": {
                    "aws:SourceVpce": "{{ aws_apigateway_execute_vpce }}"
                }
            }
        }
    ]
}
