{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "Federated": "arn:{{ aws_partition }}:iam::{{ aws_account_id }}:oidc-provider/j8ahkwoxga.execute-api.{{ aws_region }}.amazonaws.com/prod"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
                "StringEquals": {
                    "j8ahkwoxga.execute-api.{{ aws_region }}.amazonaws.com/prod:sub": "system:serviceaccount:openshift-cloud-network-config-controller:cloud-network-config-controller"
                }
            }
        }
    ]
}
