{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "AWS": [
                    "arn:{{ aws_partition }}:iam::{{ aws_account_id }}:user/openshift",
                    "arn:{{ aws_partition }}:iam::{{ aws_account_id }}:role/{{ openshift_deployer_ssm_role_name | d('ec2-ssm-role', true) }}",
                    "arn:{{ aws_partition }}:iam::{{ aws_account_id }}:role/{{ openshift_deployer_role_name | d('openshift-deployer-role', true) }}"
                ],
                "Service": [
                    "ec2.{{ aws_domain }}",
                    "apigateway.{{ aws_domain }}"
                ]
            },
            "Action": [
                "sts:AssumeRole",
                "sts:SetSourceIdentity"
            ]
        }
    ]
}
