apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  annotations:
  labels:
    machineconfiguration.openshift.io/role: {{ node_role }} 
  name: 99-{{ node_role }}{{ (chronyd_path | replace('/','-')).split('.')[0] }}-conf
spec:
  config:
    ignition:
      version: {{ ignition_config_version | d('3.2.0') }}
    storage:
      files:
      - contents:
          source: data:text/plain;charset=utf-8;base64,{{ chronyd_conf_data | b64encode }}
          verification: {}
        filesystem: root
        mode: 420
        overwrite: true
        path: {{ chronyd_path | default('/etc/chrony.conf') }}
  extensions: null
  fips: {{ fips_enabled | default('true') }} 
  kernelArguments: null
  kernelType: ""
  osImageURL: "" 
