apiVersion: v1
additionalTrustBundle: |
{{ lookup("file", "{{ registry_ca_file }}") | indent(2, true) }}
baseDomain: {{ domain_name }}
imageContentSources:
- mirrors:
{% if registry_host_port is defined and  registry_host_port  != '' %}
  - {{ registry_host_fqdn }}:{{ registry_host_port }}/{{ local_repository }}/{{ release_image_repository }}
{% else %}
  - {{ registry_host_fqdn }}/{{ local_repository }}/{{ release_image_repository }}
{% endif %}
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
{% if registry_host_port is defined and  registry_host_port  != '' %}
  - {{ registry_host_fqdn }}:{{ registry_host_port }}/{{ local_repository }}/{{ release_repository }}
{% else %}
  - {{ registry_host_fqdn }}/{{ local_repository }}/{{ release_repository }}
{% endif %}
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
compute:
- name: worker
  replicas: {{ worker_instance_number | default('2') }}
  platform:
    {{ cloud_provider | default('baremetal', true) }}: {}
controlPlane:
  name: master
  replicas: {{ master_instance_number | default('3') }}
  platform:
    {{ cloud_provider | default('baremetal', true) }}: {}
metadata:
  name: {{ cluster_name }}
networking:
  clusterNetwork:
  - cidr: 10.128.0.0/14
    hostPrefix: 23
{% if machine_cidr is defined and machine_cidr | default([], true) | length > 0 %}
  machineNetwork:
{% for mcidr in machine_cidr %}
  - cidr: {{ mcidr }}
{% endfor %}
{% endif %}
  networkType: OVNKubernetes 
  serviceNetwork:
  - 172.30.0.0/16
platform:
  {{ cloud_provider | default('baremetal', true) }}:
    apiVIPs:
    - {{ api_vip_ip }}
    ingressVIPs:
    - {{ ingress_vip_ip }}
{% if overwrite_cluster_osimage is defined and overwrite_cluster_osimage | bool and cluster_osimage_uri is defined and cluster_osimage_uri != '' %}
    clusterOSImage: "{{ cluster_osimage_uri }}?sha256={{ cluster_osimage_sha256 }}"
    bootstrapOSImage: "{{ cluster_osimage_uri }}?sha256={{ cluster_osimage_sha256 }}"
{% endif %}
    hosts:
{% if masters is defined and masters | length > 0 %}
{% for mstr in masters %}
      - name: {{ mstr.name }}
        role: master
        bmc:
          address: "{{ ilo_protocol_name | default('ipmi', true) }}://{{ mstr.bmc.ilo_ip_address }}"
          username: {{ mstr.bmc.username }}
          password: {{ mstr.bmc.password }}
        bootMACAddress: {{ mstr.mac }}
        rootDeviceHints:
{% if root_device_hint is defined and root_device_hint != '' and 'wwn' in root_device_hint %}
          wwn: {{ root_device_hint | default('/dev/disk/by-id/wwn-0x5002538fc456ed8', true) }}
{% elif root_device_hint is defined and root_device_hint != '' and 'by-path' in root_device_hint %
          hctl: {{ root_device_hint | default('/dev/disk/by-path/pci-0000:04:00.0-nvme-1', true) }}
{% else %}
          deviceName: {{ root_device_hint | default('/dev/sda', true) }}
{% endif %}
{% endfor %}
{% endif %}
{% if workers is defined and workers | length > 0 %}
{% for wkr in workers %}
      - name: {{ wkr.name }}
        role: worker
        bmc:
          address: {{ ilo_protocol_name | default('ipmi', true) }}://{{ wkr.bmc.ilo_ip_address }}
          username: {{ wkr.bmc.username }}
          password: {{ wkr.bmc.password }}
        bootMACAddress: {{ wkr.mac }}
        rootDeviceHints:
{% if root_device_hint is defined and root_device_hint != '' and 'wwn' in root_device_hint %}
          wwn: {{ root_device_hint | default('/dev/disk/by-id/wwn-0x5002538fc456ed8', true) }}
{% elif root_device_hint is defined and root_device_hint != '' and 'by-path' in root_device_hint %
          hctl: {{ root_device_hint | default('/dev/disk/by-path/pci-0000:04:00.0-nvme-1', true) }}
{% else %}
          deviceName: {{ root_device_hint | default('/dev/sda', true) }}
{% endif %}
{% endfor %}
{% endif %}
pullSecret: '{{ lookup('file', '{{ registry_pull_secret_file }}') | regex_replace("\'", "\"") }}'
sshKey: '{{ sshkeys_pub_string }}'
publish: {{ openshift_install_publish | default('External', true) }}
fips: {{ enable_fips }}
