#user nginx;
user root;
worker_processes auto;
error_log /dev/stdout info;
include /usr/share/nginx/modules/*.conf;
include /etc/nginx/conf.d/*.conf;
pid /run/nginx.pid;

events {
  worker_connections 1024;
}

http {

  server {
    listen {{ nginx_http_port | default('8080', true) }};
    location / {
      root {{ nginx_container_webserver_dir | default('/var/www/html/', true) }};
    }
{% overwrite_cluster_osimage is defined and overwrite_cluster_osimage | bool andrhcos_image_location is defined and andrhcos_image_location != '' %}
    location /{{ andrhcos_image_location }}/ {
      autoindex on;
    }
{% endif %}
  }

  server {
    listen {{ nginx_https_port | default('8843', true) }} ssl;

    ssl_certificate "/nginx.crt";
    ssl_certificate_key "/nginx.key";
    ssl_session_cache shared:SSL:1m;

    location / {
      root {{ nginx_container_webserver_dir | default('/var/www/html/', true) }};
    }
{% overwrite_cluster_osimage is defined and overwrite_cluster_osimage | bool andrhcos_image_location is defined and andrhcos_image_location != '' %}
    location /{{ andrhcos_image_location }}/ {
      autoindex on;
    }
{% endif %}
  }

  autoindex on;        
}
