{
    "keys": [
        {
            "use": "sig",
            "kty": "RSA",
            "kid": "{{ aws_sts_oidc_keys_kid }}",
            "alg": "RS256",
            "n": "{{ aws_sts_oidc_keys_n }}",
            "e": "AQAB"
        }
    ]
}
