{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Effect": "Allow",
            "Principal": {
                "Federated": "arn:{{ aws_partition }}:iam::{{ aws_account_id }}:oidc-provider/{{ aws_sts_apigateway_id }}.execute-api.{{ aws_region }}.{{ aws_domain }}/{{ aws_deploy_stage }}"
            },
            "Action": "sts:AssumeRoleWithWebIdentity",
            "Condition": {
                "StringEquals": {
                    "{{ aws_sts_apigateway_id }}.execute-api.{{ aws_region }}.{{ aws_domain }}/{{ aws_deploy_stage }}:sub": [
                        "system:serviceaccount:openshift-image-registry:cluster-image-registry-operator",
                        "system:serviceaccount:openshift-image-registry:registry"
                    ]
                }
            }
        }
    ]
}
